/Exercise_01_DisplayThreeMessages.class
/Exercise_02_DisplayFiveMessages.class
/Exercise_03_DisplayAPattern.class
/Exercise_04_PrintATable.class
/Exercise_05_ComputeExpressions.class
/Exercise_06_SummationOfASeries.class
/Exercise_07_ApproximatePi.class
/Exercise_08_AreaAndPerimeterOfACircle.class
/Exercise_09_AreaAndPerimeterOfARectangle.class
/Exercise_10_AverageSpeedInMiles.class
/Exercise_11_PopulationProjection.class
/Exercise_12_AverageSpeedInKilometers.class
/Exercise_13_AlgebraSolve2X2LinearEquations.class
