/Exercise_01_ConvertCelsiusToFahrenheit.class
/Exercise_02_ComputeTheVolumeOfACylinder.class
/Exercise_03_ConvertFeetIntoMeters.class
/Exercise_04_ConvertPoundsIntoKilograms.class
/Exercise_05_CalculateTips.class
/Exercise_06_SumTheDigitsInAnInteger.class
/Exercise_07_FindTheNumberOfYears.class
/Exercise_08_CurrentTime.class
/Exercise_09_Acceleration.class
/Exercise_10_CalculatingEnergy.class
/Exercise_11_PopulationProjection.class
/Exercise_12_FindingRunwayLength.class
/Exercise_13_CompoundValue.class
/Exercise_14_ComputingBMI.class
/Exercise_15_DistanceOfTwoPoints.class
/Exercise_16_AreaOfAHexagon.class
/Exercise_17_WindChillTemperature.class
/Exercise_18_PrintATable.class
/Exercise_19_AreaOfATriangle.class
/Exercise_20_CalculateInterest.class
/Exercise_21_CalculateFutureInvestmentValue.class
/Exercise_22_MonetaryUnits.class
/Exercise_23_CostOfDriving.class
