/Exercie_18_StudensMajorAndStatus.class
/Exercise_01_GeometryAreaOfAPentagon.class
/Exercise_02_GeometryGreatCircleDistance.class
/Exercise_03_GeographyEstimateAreas.class
/Exercise_04_GeometryAreaOfAHexagon.class
/Exercise_05_GeometryAreaOfARegularPolygon.class
/Exercise_06_RandomPointsInACircle.class
/Exercise_07_CornerPointCoordinates.class
/Exercise_08_FindTheCharacterOfAnASCIICode.class
/Exercise_09_FindTheUnicodeOfACharacter.class
/Exercise_10_GuessBirthday.class
/Exercise_11_DecimalToHex.class
/Exercise_12_HexToBinary.class
/Exercise_13_VowelOrConsonant.class
/Exercise_14_ConvertLetterGradeToNumber.class
/Exercise_15_PhoneKeyPads.class
/Exercise_16_RandomCharacter.class
/Exercise_17_DaysOfAMonth.class
/Exercise_19_BusinessCheckISBN10.class
/Exercise_20_ProcessAString.class
/Exercise_21_CheckSSN.class
/Exercise_22_CheckSubstring.class
/Exercise_23_FinancialApplicationPayroll.class
/Exercise_24_OrderThreeCities.class
/Exercise_25_GenerateVehiclePlateNumbers.class
/Exercise_26_FinancialApplicationMonetaryUnits.class
/GameLotteryString.class
/PrintfTable.class
