/Exercise_01_SolveQuadraticEquations.class
/Exercise_02_AddThreeNumbers.class
/Exercise_03_Solve2x2LinearEquations.class
/Exercise_04_RandomMonth.class
/Exercise_05_FindFutureDays.class
/Exercise_06_BMI.class
/Exercise_07_MonetaryUnits.class
/Exercise_08_SortThreeIntegers.class
/Exercise_09_CheckISBN10.class
/Exercise_10_AdditonQuiz.class
/Exercise_11_FindTheNumberOfdaysInAMonth.class
/Exercise_12_PalindromeNumber.class
/Exercise_13_ComputeTaxes.class
/Exercise_14_GameHeadsOrTails.class
/Exercise_15_GameLottery.class
/Exercise_16_RandomPoint.class
/Exercise_17_GameScissorRockPaper.class
/Exercise_18_CostOfShipping.class
/Exercise_19_ComputeThePerimeterOfATriangle.class
/Exercise_20_ScienceWindChillTemperature.class
/Exercise_21_ScienceDayOfTheWeek.class
/Exercise_22_GeometryPointInACircle.class
/Exercise_23_GeometryPointInARectangle.class
/Exercise_24_PickACard.class
/Exercise_25_GeometryIntersectingPoint.class
/Exercise_26_UseOperators.class
/Exercise_27_GeometryPointsInTriangle.class
/Exercise_28_GeometryTwoRectangles.class
/Exercise_29_GeometryTwoCircles.class
/Exercise_30_CurrentTime12Hour.class
/Exercise_31_FinancialsCurrencyExchange.class
/Exercise_32_GeometryPointPosition.class
/Exercise_33_FinancialCompareCosts.class
/Exercise_34_GeometryPointOnLineSegment.class
